{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}

<table>
{% for categorie in categories %}
   <tr>
    <td>{{categorie.name}}</td>
     <td>{{categorie.description}}</td>
      <td>{{categorie.UpdateAt |date('Y-m-d')}}</td>
   </tr>
</table>

{% endfor %}

{% endblock %}
