{% extends "base.html.twig" %}
{% block title %}Home Page
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href={{asset('css/style.css')}}>
{% endblock %}

{% block body %}
	<main>
		<h1>I'll take you to my
			<span>Candy Shop</span>
			!</h1>
	</main>
{% endblock %}