{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href={{asset('css/style.css')}}>
<link rel="stylesheet" href={{asset('css/admin_article.css')}}>
{% endblock %}

{% block body %}
<main>
<h1>Create New Article</h1>
</main>
{% endblock %}