{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href={{asset('css/style.css')}}>
<link rel="stylesheet" href={{asset('css/article.css')}}>
{% endblock %}

{% block title %}Articles Page{% endblock %}

{% block body %}
<h1>page article</h1>
{% endblock %}