{% extends 'base.html.twig' %}

{% block title %}Contact Confirmation{% endblock %}

{% block body %}
    <h1>Thank you for your message!</h1>
    <p>We will get back to you as soon as possible.</p>
{% endblock %}